.music-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.track-info-container {
  display: flex;
  align-items: center;
  width: 500px;
}
.music-track-image {
  height: 90px;
  width: 140px;
  margin-right: 20px;
}

.name-genre-container {
  display: flex;
  flex-direction: column;
}
.name {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.genre {
  color: #3b82f6;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}
.duration-delete-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.duration {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #ffffff;
  margin-right: 50px;
}
.delete-button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  color: #ffffff;
}
